@page "/inventories"

<h3>Inventory List</h3>
@inject NavigationManager NavigationManager

@attribute [Authorize(Policy = "Inventory")]

<br />

<SearchInventoryComponent OnSearchInventory="OnInventorySearch"></SearchInventoryComponent>
<br />
<InventoryListComponent SearchTerm="@searchTerm"></InventoryListComponent>
<br />
<button type="button" 
    class="btn btn-primary"
    @onclick="AddInventory">Add Inventory</button>

@code {
    private string searchTerm = string.Empty;

    private void OnInventorySearch(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }

    private void AddInventory()
    {
        NavigationManager.NavigateTo("/addinventory");
    }

}
