@page "/"

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<ul>
    @foreach(var inv in _inventories)
    {
        <li>
            @inv.InventoryName
        </li>
    }
    
</ul>

@code {
    private List<Inventory> _inventories = new List<Inventory>();

    protected override async Task OnInitializedAsync()
    {
        _inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync("body")).ToList();
    }
}